
// ▼ og
meta(property="og:title" content=pagetitle)
meta(property="og:url" content!=url)
meta(property="og:type" content="game")
meta(property="og:image" content=og_fb)
meta(property="og:description" content=description)
meta(property="fb:app_id" content="1111111111")
meta(property="og:site_name" content="site name")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="aaaaaaaa")
meta(name="twitter:image" content=og_tw)