
ul.c-footerLinks
  li.item
    a(href="#" target="_blank") aaaa
  li.item
    a(href="#" target="_blank") bbbb
  li.item
    a(href="#" target="_blank") cccc
p.c-copyright
  |© hogehoge inc
.c-scrollTop._cTinvisible
  a(href="#pagetop") back to top