header.l-header
  .l-header__logo LOGO
  nav.c-gNav
    input(type="checkbox" id="gNav")
    label.c-gNav__toggle(for="gNav")
      div
    ul.c-gNav__menu
      li.c-gNav__menu__item: a(href="#") aaa
      li.c-gNav__menu__item: a(href="#") aaa
      li.c-gNav__menu__item: a(href="#") aaa
      li.c-gNav__menu__item: a(href="#") aaa