header.l-header
  .sub-logo LOGO
  nav.c-gNav
    input(type="checkbox" id="gNav")
    label.sub-toggle(for="gNav")
      div
    ul.sub-menu
      li.sub-item: a(href="#") aaa
      li.sub-item: a(href="#") aaa
      li.sub-item: a(href="#") aaa
      li.sub-item: a(href="#") aaa