.blocks {
  display:flex;
  flex-wrap: wrap;
  .block {
    width:100%;
    @include mq_s() {
      img {
        width:60%;
        display:block;
        margin:auto;
      }
    }
    @include mq_l() {
      width:50%;
      &:first-child {
        padding-right:10px;
      }
      &:last-child {
        padding-left:10px;
      }
    }
  }
}