// 表示確認用class設定
@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

.c-<%= cssClass %> {
  &:before {
    font-family: "<%= fontName %>";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    margin:0 .5em;
  }
  <% _.each(glyphs, function(glyph) { %>
  &.-<%= glyph.fileName %>:before {
    content: "\<%= glyph.codePoint %>";
  }
  <% }); %>
}

/*
---
name: アイコンフォント一覧
category: -iconfont
---
assets/css/foundation/_icon.scssをご確認ください。
 */