//---------------------------------------------------
// セクション
//---------------------------------------------------


/*
---
name: セクション
category:
  - section
---

```jade
.c-section
  section.c-section-inner
    h2.c-heading.-lv2
      div.sub-inner .c-section
    p.c-para .c-sectionは、画面両端のpaddingと、background設定のために使います。
```
*/
.c-section {
  background:white;
  padding:0 vw(30);
  @include mq_l() {
    padding:0 50px;
  }
}






/*
---
name: セクション（インナー）
category:
  - section
---
見出しを伴うコンテンツの括りとして使用。  
見出しがない場合は.c-group。  
コンテンツの括りとして見出しとセットで使います。
```jade
.c-section
  section.c-section-inner
    h2.c-heading.-lv2
      div.sub-inner .c-section-inner
    p.c-para .c-section-innerは、.c-sectionの直下にて見出しとセットで使用。
  section.c-section-inner
    h2.c-heading.-lv2
      div.sub-inner 見出し
    p.c-para あああああああああああああああああああ
```
*/
.c-section-inner {
  padding:40px 0 0;
  &:last-child {
    padding-bottom:40px;
  }
  @include mq_l() {
    padding:80px 0 0;
    &:last-child {
      padding-bottom:80px;
    }
  }
}