/*#overview
ナビゲーション
*/
/*#styleguide
```
<div class="c-nav">
  <div class="sub-inner">
    <ul class="sub-navlist">
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a>
          <div class="c-nav">
            <div class="sub-inner">
              <ul class="sub-navlist">
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビナビナビナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a>
          <div class="c-nav">
            <div class="sub-inner">
              <ul class="sub-navlist">
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
```
*/

/*#styleguide
グロナビ。
.c-gNav
で囲い
.sub-navToggle
を追加するとスマホ時は開閉ボタンが付く
```
<div class="c-gNav">
            <div class="sub-navToggle"><span>[メニュー]</span></div>
<div class="c-nav">
  <div class="sub-inner">
    <ul class="sub-navlist">
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a>
          <div class="c-nav">
            <div class="sub-inner">
              <ul class="sub-navlist">
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビナビナビナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="sub-navitem">
        <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a>
          <div class="c-nav">
            <div class="sub-inner">
              <ul class="sub-navlist">
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
                <li class="sub-navitem">
                  <div class="sub-iteminner"><a href="#" class="sub-item">ナビ</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>          </div>
```
*/
@include mq_l() {
  .c-nav {
    >.sub-inner {
      >ul.sub-navlist {
        letter-spacing: -0.34em;
        text-align:center;
        >li.sub-navitem {
          display:inline-block;
          letter-spacing:0;
          border-left:1px solid #999;
          &:first-child {
            border-width:0;
          }
          >.sub-iteminner {
            display:block;
            >.sub-item {
              padding:10px;
              text-decoration:none;
            }
            //↓下層
            >.c-nav {
              position: relative;
              >.sub-inner {
                position: absolute;
                overflow:hidden;
                max-height:0;
                transition-property:max-height;
                transition-duration:.2s;
                transition-timing-function:ease;
                >ul.sub-navlist {
                  letter-spacing: 0;
                  text-align:left;
                  >li.sub-navitem {
                    display:block;
                    letter-spacing:0;
                    border:1px solid #999;
                    border-width:0 0 1px 0;
                    .sub-item {
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .c-gNav {
    .sub-navToggle {
      display:none;
    }
  }
}//@media pc
@include mq_s() {
  .c-nav {
    background:#ccc;
    >.sub-inner {
      overflow:hidden;
      box-sizing:border-box;
      transition-property:max-height;
      transition-duration:.5s;
      transition-timing-function:ease;
      >ul.sub-navlist {
        margin:10px;
        border:1px solid #999;
        >li.sub-navitem {
          display:block;
          letter-spacing:0;
          border-top:1px solid #999;
          &:first-child {
            border-width:0;
          }
          >.sub-iteminner {
            >.sub-item {
              display:block;
              padding:10px 20px;
              text-decoration:none;
              position: relative;
              text-decoration:none;
              &::before {
                content:"";
                display:block;
                width:.5em;
                height:.5em;
                border:2px solid #999;
                border-width:0 2px 2px 0;
                transform: rotate(-45deg);
                position: absolute;
                top:0; bottom:0; left:5px; margin:auto;
              }
            }
          }
        }
      }
    }
  }
  .c-gNav {
    >.c-nav {
      position:absolute;
      z-index:1;
      width:100%;
      >.sub-inner {
        max-height:0;
      }
    }
    >.sub-navToggle {
      &::before {
        content:"[ 開く ]";
      }
      &.isOpen::before {
        content:"[ 閉じる ]";
      }
      span {
        display:none;
      }
    }
  }
}//@media sp