extends /assets/pug/_base.pug

block prepend vars
  - var title = '下層';
  - var category = 'underlayer';
  - var url = 'https://pokemon.co.jp/ex/hoge/underlayer/';
  - var keyword = '';
  - var description = '';
  - var og_fb = '';
  - var og_tw = '';

block addResource
  script(src="js/main.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js")
  script.
    svg4everybody();

block contents
  p 下層ページ

  +rImg('/ex/hoge/assets/img/icon/fb.png','あああああ')