extends /assets/pug/_base.pug

block prepend vars
  - var title = '下層';
  - var category = 'underlayer';
  - var url = 'https://pokemon.co.jp/ex/hoge/underlayer/';
  - var keyword = '';
  - var description = '';
  - var og_fb = '';
  - var og_tw = '';

block addResource
  //- script(src="test.js")
  script(src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js")
  script.
    new Vivus('svg-animation', {type: 'scenario-sync',duration: 80, forceRender: false ,animTimingFunction:Vivus.EASE})
  style.
    .st0{
      fill:none;
      stroke:#FFFFFF;
      stroke-width:6;
      stroke-miterlimit:10;
      stroke-dasharray: 1500;
      stroke-dashoffset:1500;}
      

block contents
  .c-section
    .c-section__inner
      
      <svg version="1.1" id="svg-animation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 72 87.77" width="200" height="auto">
        <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="base.svg" width="72" height="87.77" mask="url(#clipmask)"></image>
        <mask id="clipmask" maskUnits="objectBoundingBox">
            <path class="st0" d="M7,16.36c0,0,6.85,2,20.42,1s36.2-4.98,36.2-4.98L28,1.36c0,0-3.28,12.87-1.14,31.43s6.28,29.8,6.28,29.8L24,75.36l16,7l31-20l7-37l-31-4c0,0-3.73,19.08-13.87,29.54s-14.29,12.4-21.21,8.43S5.02,48.45,8.01,44.4S25,29.96,36,28.66c11-1.3,27.24,6.24,27.62,16.97C64,56.36,54.81,63.95,33,67.36"/>
        </mask>
      </svg>

  .c-section
    .c-section__inner
      p.p-hogehoge ホイール横スクロール

      div.js-mousescroll(style="overflow:scroll")
        div(style="display:flex")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
          div(style="padding:100px; background:gray;")
          div(style="padding:100px; background:slver;")
      input(type='text')
      input(type='text')
      input(type='text')
      input(type='text')
      p: label(data-href="https://www.youtube.com/embed/7Vj8zt_tBtk" class="js-movie" for="toggleModal") モーダル動画
      p 下層ページ

      .c-column.--sp1col
        .c-column__inner
          .c-column__item._x1of3
            .c-img
              a(href="#")
                img(src='http://placehold.jp/fff/500x350.png', alt='')
          .c-column__item._x1of3
            .c-img
              a(href="#")
                img(src='http://placehold.jp/fff/500x350.png', alt='')
          .c-column__item._x1of3
            .c-img
              a(href="#")
                img(src='http://placehold.jp/fff/500x350.png', alt='')
          .c-column__item._x1of3
            .c-img
              a(href="#")
                img(src='http://placehold.jp/fff/500x350.png', alt='')
          .c-column__item._x1of3
            .c-img
              a(href="#")
                img(src='http://placehold.jp/fff/500x350.png', alt='')
          .c-column__item._x1of3
            .c-img
              a(href="#")
                img(src='http://placehold.jp/fff/500x350.png', alt='')

      +rImg('/ex/hoge/assets/img/icon/fb.png','あああああ')
