$gutterLeftSP: 10;
$gutterTopSP: 20;
$gutterLeftPC: 20;
$gutterTopPC: 30;

/*
---
name: デフォルト
category:
  - column/default
---
```jade
.c-column.-sp1col
  c-column-inner
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x250.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x150.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
```
*/
.c-column {
  >.c-column-inner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: vw(-$gutterTopSP);
    margin-left: vw(-$gutterLeftSP);
    > .sub-item {
      box-sizing: border-box;
      padding-top: vw($gutterTopSP);
      padding-left: vw($gutterLeftSP);
    }
  }
  &.-sp1col {
    @include mq(sp) {
      >.c-column-inner {
        >.sub-item {
          width:100%;
        }
      }
    }
  }
}
@include mq(){
  .c-column {
    >.c-column-inner {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: size(-$gutterTopPC);
      margin-left: size(-$gutterLeftPC);
      > .sub-item {
        box-sizing: border-box;
        padding-top: size($gutterTopPC);
        padding-left: size($gutterLeftPC);
      }
    }
  }
}