$gutterLeftSP: 10;
$gutterTopSP: 20;
$gutterLeftPC: 20;
$gutterTopPC: 30;

/*
---
name: デフォルト
category:
  - column/default
---
```jade
.c-column.-sp1col
  .c-column__inner
    .c-column__item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .c-column__item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x250.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .c-column__item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x150.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .c-column__item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .c-column__item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
```
*/
.c-column {
  .c-column__inner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: vw(-$gutterTopSP);
    margin-left: vw(-$gutterLeftSP);
  }
  .c-column__item {
    box-sizing: border-box;
    padding-top: vw($gutterTopSP);
    padding-left: vw($gutterLeftSP);
  }
  &.-sp1col {
    @include mq(sp) {
      .c-column__item {
        width: 100%;
      }
    }
  }
}
@include mq() {
  .c-column {
    .c-column__inner {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      margin-top: columnGap(-$gutterTopPC);
      margin-left: columnGap(-$gutterLeftPC);
    }
    .c-column__item {
      box-sizing: border-box;
      padding-top: columnGap($gutterTopPC);
      padding-left: columnGap($gutterLeftPC);
    }
  }
}
