//---------------------------------------------------
// 定義リスト
//---------------------------------------------------

/*
---
name: 定義リスト
category:
  - dl
---

```jade
dl.c-dl
  dt.sub-dt あああああ
  dd.sub-dd いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
dl.c-dl
  dt.sub-dt あああああ
  dd.sub-dd いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
```
*/
.c-dl {
  display: flex;
  > .sub-dt {
    padding-right: 1em;
  }
}

/*
---
name: 定義リスト(縦）
category:
  - dl
---

```jade
dl.c-dl.-vertical
  dt.sub-dt あああああ
  dd.sub-dd いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
dl.c-dl.-vertical
  dt.sub-dt あああああ
  dd.sub-dd いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
```
*/
.c-dl.-vertical {
  display: block;
  > .sub-dt {
    padding-right: 1em;
  }
}

/*
---
name: 定義リスト(SP縦）
category:
  - dl
---

```jade
dl.c-dl.-verticalSP
  dt.sub-dt あああああ
  dd.sub-dd いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
dl.c-dl.-verticalSP
  dt.sub-dt あああああ
  dd.sub-dd いいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい
```
*/
@include mq(sp) {
  .c-dl.-verticalSP {
    display: block;
    > .sub-dt {
      padding-right: 1em;
    }
  }
}
