//-------------------------------------------------------
// .c-group
//-------------------------------------------------------
/*
---
name: group
category:
  - grouping
---
枠や背景色でグルーピングしたい時や、見出しを伴わないが、コンテンツ間にマージンがほしい時に使用。
デフォルトでは隣接セレクタでマージセットしてありおます。

```jade
.c-group
  .c-para あああああああああああああああああああああああああああああああああああああああああああああああああああああああ

.c-group
  .c-para あああああああああああああああああああああああああああああああああああああああああああああああああああああああ

.c-group
  .c-para あああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

* + .c-group {
  margin-top: 30px;
}
