//---------------------------------------------------
// 画像
// --------------------------------------------------

/*
---
name: imgのレスポンシブ対応
category: image
---
+rImg("/pokemonryuoh2020/styleguide/aigis_assets/images/dummyimage.png","alt")
*/

img {
  vertical-align: top;
  max-width: 100%;
}
.c-img {
  text-align: center;
  width: 100%;
  img {
    max-width: 100%;
  }
  /*
---
name: デフォルト
category: image
---
画像を左右中央配置します。
```jade
figure.c-img
  img(src="http://placehold.jp/fff/800x400.png" alt="")
  figcaption.sub-caption キャプション
```
*/
}
