// リンク
// --------------------------------------

.blankicon {
  font-family: "icon";
  content: "\F002";
  font-size: smaller;
  font-weight: normal;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: $colorLink;
}
a:visited {
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}



/*
---
name: href未設定
category: link
---
href未設定の場合、デバッグ用文言追加
```jade
p.c-para
  a.button(href="#" target="_blank") hrefあり
p.c-para
  a.button(href="" target="_blank") hrefなし
```
*/
a[href=""] {
  pointer-events: none;
  opacity: 0.6;
  &[target="_blank"]::after {
    display: none;
  }
  &::before {
    content:"【リンク未設定】";
    color:red;
  }

}


/*
---
name: 別窓付きリンク
category: link
---
```jade
p.c-para 別窓アイコン付き
  a.button(href="//www.google.com" target="_blank") テキストリンク
  |　target="_blank"で勝手につく
```
*/

/*
---
name: 別窓アイコンなし
category: link
---
```jade
p.c-para 別窓アイコンなし
  a._noicon(href="//www.google.com" target="_blank") テキストリンク
  |　target="_blank"でも別窓アイコンなし。バナーなどで使用。
```
*/
a[target="_blank"] {
  &::after {
    @extend .blankicon;
  }
  &._noicon {
    &[target="_blank"]::after {
      display: none;
    } //別窓アイコン無し
  }
}





//---------------------------------------------------
// ボタン
//---------------------------------------------------

/*
---
name: ボタン
category: link/button
---
```jade
.c-buttonArea
  a.button(href="#") ボタン
```
*/


/*
---
name: ボタン（タイトルあり）
category: link/button
---
```jade
.c-buttonArea
  .text タイトルあり
  a.button(href="#") ボタン
```
*/
.c-buttonArea + .c-buttonArea {
  margin-top:vw(20);
}
.c-buttonArea {
  // display:flex;
  // justify-content: center;
  // flex-wrap: wrap;
  text-align:center;
  background:silver;
  padding:vw(30);
  >.buttons {
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  a.button {
    display: inline-block;
    background: gray;
    padding: vw(10) vw(30);
    text-align: center;
    font-size: 16px;
    color: white;
    text-decoration: none;
    box-shadow: 0 vw(5) 0 0 rgba(0, 0, 0, 0.2);
    transition: all $hoverTime ease;
    margin:0 vw(10);
    &:hover {
      @include mq_l() {
        transform: translateY(vw(5));
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  >.text {
    width:100%;
    text-align:center;
    &+.buttons,
    &+.button {
      margin-top:vw(20);
    }
  }
}

/*
---
name: 複数置く場合
category: link/button
---
```jade

.c-buttonArea
  .text 複数置く場合は、.buttonsで囲う
  .buttons
    a.button(href="#" target="_blank") ボタン
    a.button(href="#" target="_blank") ボタン
    a.button(href="#" target="_blank") ボタン

```
*/
