/*
---
name: リスト
category: list
---
デフォルトではビュレットはつきません。
```jade
ul.c-list
  li.c-list__item あああああ
  li.c-list__item あああああ
```
*/
.c-list {
  .c-list__item {
    display: flex;
    justify-content: flex-start;
  }
}

/*
---
name: リスト（ディスク）
category: list
---
```jade
ul.c-list.--disc
  li.c-list__item あああああ
  li.c-list__item あああああ
```
*/
.c-list.--disc .c-list__item {
  &:before {
    content: "・";
    font-size: larger;
    font-weight: 500;
  }
}

/*
---
name: リスト（注釈）
category: list
---
```jade
ul.c-list.--note
  li.c-list__item あああああ
  li.c-list__item あああああ
```
*/
.c-list.--note .c-list__item {
  &:before {
    content: "※";
  }
}

/*
---
name: リスト（ナンバー）
category: list
---
```jade
ul.c-list.--num
  li.c-list__item あああああ
  li.c-list__item あああああ
```
*/
.c-list.--num {
  counter-reset: olcount 0;
  li.c-list__item {
    &:before {
      content: counter(olcount, decimal) ". ";
      counter-increment: olcount 1;
    }
  }
}

/*
---
name: リスト（ナンバー付き注釈）
category: list
---
```jade
ul.c-list.--num.--note
  li.c-list__item あああああ
  li.c-list__item あああああ
```
*/
.c-list.--num.--note {
  counter-reset: olcount 0;
  .c-list__item {
    &:before {
      content: "※" counter(olcount, decimal) ". ";
    }
  }
}

/*
---
name: リスト（センター）
category: list
---
```jade
ul.c-list.--num._inlineCenter
  li.c-list__item あああああ
  li.c-list__item あああああああああああああ
  li.c-list__item あああああああああ
ul.c-list.--note._inlineCenter
  li.c-list__item あああああ
  li.c-list__item あああああああああああああ
  li.c-list__item あああああああああ
ul.c-list.--num.--note._inlineCenter
  li.c-list__item あああああ
  li.c-list__item あああああああああああああ
  li.c-list__item あああああああああ
```
*/
.c-list {
  &._inlineCenter > li.c-list__item {
    justify-content: center;
  }
}
