.c-modalBase {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: $zindex-modal;
  transition: visibility 0s $time, opacity $time linear;
  .c-modalBase__inner {
    @include whBlockCenter();
    width: 100%;
    height: 100%;
    max-width: 1000px;
  }
}
input#toggleModal {
  display: none;
}
input#toggleModal:checked + .c-modalBase {
  visibility: visible;
  opacity: 1;
  transition: opacity $time linear;
}
label[for="toggleModal"]:hover {
  cursor: pointer;
}
label.c-modalBase[for="toggleModal"]:hover {
  cursor: auto;
}
