
@use "foundation/_mixin" as mixin;
.movwrap {
  width: 100%;
  height: 0;
  // max-width:960px;
  padding-top: 56.25%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  @include mixin.whBlockCenter();
  .inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

/*
---
name: モーダル動画
category: -javascript
---
```jade
label(data-href="https://www.youtube.com/embed/7Vj8zt_tBtk" class="js-movie" for="toggleModal") モーダル動画
```
 */
