//---------------------------------------------------
// ページャー
//---------------------------------------------------
.c-pager {
  text-align: center;
  letter-spacing: -0.222em; // 文字間を詰めて隙間を削除する
  > li {
    display: inline-block;
    margin: 0 5px;
    letter-spacing: normal; // 文字間を通常に戻す
    > a,
    > span {
      display: block;
      padding: 5px 10px;
      line-height: 1em;
    }
    > span {
      background: #ccc;
    }
    &.sub-prev,
    &.sub-next {
      > span {
        background: transparent;
      }
    }
  }
  /*
---
name: ページャー
category: pager
---
```jade
ul.c-pager
  li.sub-prev: span 前へ
  li.sub-li: span 1
  li.sub-li: a(href="") 2
  li.sub-li: a(href="") 3
  li.sub-next: a(href="") 次へ
```
 */
}
@include mq(pc) {
} //@media pc

@include mq(sp) {
  .c-pager {
    > li {
      display: none;
      &.sub-prev,
      &.sub-next {
        display: inline-block;
        width: 40%;
        margin: 0;
      }
    }
  }
} //@media sp
