//---------------------------------------------------
// セクション
//---------------------------------------------------


/*
---
name: セクション
category:
  - section
---

```jade
.c-section
  section.c-section-inner
    h2.c-heading.-lv2
      div.sub-inner .c-section
    p.c-para .c-sectionは、画面両端のpaddingと、background設定のために使います。
```
*/
.c-section {
  margin-top:0 !important;
  background:white;
  padding:vw(50) vw(30);
  @include mq_l() {
    padding:50px 50px;
  }
}






/*
---
name: セクション（インナー）
category:
  - section
---
セクションの括りとして使用。  
見出しがない場合はdiv.c-section-inner。  
```jade
.c-section(style="background:gray")
  section.c-section-inner
    h2.c-heading.-lv2
      div.sub-inner .c-section-inner
    p.c-para .c-section-innerは、.c-sectionの直下にて見出しとセットで使用。
  .c-section-inner
    p.c-para 見出し無し
.c-section(style="background:silver")
  section.c-section-inner
    h2.c-heading.-lv2
      div.sub-inner .c-section-inner
    p.c-para .c-section-innerは、.c-sectionの直下にて見出しとセットで使用。
  .c-section-inner
    p.c-para 見出し無し
```
*/
.c-section-inner {
  @include mq_l() {
    max-width:$contentWidth;
    margin:auto;
  }
}