//---------------------------------------------------
// セクション
//---------------------------------------------------

/*
---
name: セクション
category:
  - section
---

```jade
.c-section
  section.c-section__inner
    p.c-para .c-sectionは、画面両端のpaddingと、background設定のために使います。
```
*/
.c-section {
  background: white;
  padding: 0 vw(30);
  $data: (
    "padding": 50,
  );
  @include mq(pc) {
    @include size($data);
  }
  @include size-ie11($data);
}

/*
---
name: セクション（インナー）
category:
  - section
---
PCでのコンテンツ幅設定と
セクションの括りとして使用。  
見出しがない場合はdiv.c-section__inner。  
```jade
.c-section(style="background:gray")
  section.c-section__inner
    h2.c-heading みだし
    p.c-para section.c-section__innerは、.c-sectionの直下にて見出しとセットで使用。
  .c-section__inner
    p.c-para 見出し無し
.c-section(style="background:silver")
  .c-section__inner
    p.c-para 見出し無しのときはdiv.c-section__innerとする
```
*/
.c-section__inner {
  padding: vw(20) 0;
  $data: (
    "padding-top": 20,
    "padding-left": 0,
    "padding-right": 0,
    "padding-bottom": 20,
  );
  @include mq(pc) {
    max-width: $contentWidth;
    margin: auto;
    @include size($data);
  }
  @include size-ie11($data);
  & + .c-section__inner {
    padding-top: 0;
  }
}
