//-------------------------------------------------------
// .sns
//-------------------------------------------------------
.sns {
  > ul {
    text-align: center;
    padding: 10px 0;
    li {
      display: inline-block;
      text-align: left;
      width: 20%;
      &.line {
        img {
          display: block;
        }
      }
    }
  }
}

@include mq(pc) {
  .sns {
    > ul {
      // width:$contentWidth;
      margin: auto;
      li {
        display: inline-block;
        width: 50px;
        &.line {
          display: none;
        }
      }
    }
  }
} //@media pc
@include mq(sp) {
} //@media sp
