
@use "foundation/_mixin" as mixin;
//-------------------------------------------------------
// .c-sns
//-------------------------------------------------------
.c-sns {
  text-align: center;
  padding: 10px 0;
  li {
    display: inline-block;
    text-align: left;
    width: 20%;
    &.line {
      img {
        display: block;
      }
    }
  }
}

@include mixin.mq(pc) {
  .c-sns {
    margin: auto;
    li {
      display: inline-block;
      width: 50px;
      &.line {
        display: none;
      }
    }
  }
} //@media pc
@include mixin.mq(sp) {
} //@media sp
