

/*
---
name: テキスト
category: text
---
font-weightは300と500を使用（デザインに合わせて）
 */


// 上付き下付き
// --------------------------------------
sup { vertical-align:super; font-size: xx-small; }
sub { vertical-align:sub; font-size: xx-small; }

// 段落
// --------------------------------------

.c-para {
  & + .c-para{
    margin-top:1em;
  }
/*
---
name: 段落
category: text
---
段落
```jade
p.c-para ああああああああああ
p.c-para ああああああああああ
p.c-para ああああああああああ
```
*/
  &.-lead {
    font-size:larger;
/*
---
name: リードテキスト
category: text
---
リードテキスト
フォントサイズ大きめ
上下にマージンあり。first/last-childでマージンカット
```jade
p.c-para.-lead ああああああああああ
p.c-para.-lead ああああああああああ
p.c-para.-lead ああああああああああ
```
*/
  }
}




// fontweight-----------------------
/*
---
name: 通常
category: text/fontweight
---
```jade
p._lite あああああああああああああああああああああああああああああああ
```
*/
._lite { font-weight:200; }


/*
---
name: 太字
category: text/fontweight
---
```jade
p._bold あああああああああああああああああああああああああああああああ
```
*/
._bold { font-weight:700; }

/*
---
name: 超太字
category: text/fontweight
---
```jade
p._black あああああああああああああああああああああああああああああああ
```
*/
._black { font-weight:900; }


// 重要 -----------------------
/*
---
name: 重要
category: text
---
```jade
p._strong あああああああああああああああああああああああああああああああ
```
*/
._strong { font-weight:bold; color:$colorStrong; }

// アクセント -----------------
/*
---
name: アクセント
category: text
---
```jade
p._accent あああああああああああああああああああああああああああああああ
```
*/
._accent { color:$colorAccent; }

// 注意 -----------------------
/*
---
name: 注意
category: text
---
```jade
p._attention あああああああああああああああああああああああああああああああ
```
*/
._attention { color:$colorAttention; }


.c-caption {
  font-size:smaller;
  margin:5 0px;
  line-height:1.5em;
  &:first-child {
    margin-top:0;
  }
  &:last-child {
    margin-bottom:0;
  }
/*
---
name: キャプション
category: text
---
画像の上や下に置くキャプション。
```jade
p.c-img: img(src="http://placehold.jp/fff/800x400.png?text=dummy" alt="")
p.c-caption キャプション。
```
*/
}