//---------------------------------------------------
// c-twoColContent
//---------------------------------------------------
/*
---
name: 2カラムコンテンツ
category: 2 column contents
---
テキストと画像のコンテンツ  
カラムレイアウトではPC時左から順番に並びましたが、こちらはひとつ目の要素を、左右に振れます。
また、2個めの要素がテキストの場合、回り込みも可能になります。

SP時、デフォルトでは左右50%になります。
*/

/*
---
name: 1個目の要素左
category: 2 column contents/left-right
---
```jade
.c-twoColContent.-left
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: 1個目の要素右
category: 2 column contents/left-right
---
```jade
.c-twoColContent.-right
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: 高さ中央
category: 2 column contents/vertical align middle
---
```jade
.c-twoColContent.-left.-vMiddle.js-heightFix(data-column-pc="2" data-column-sp="2")
  .sub-content._x1of3
    .sub-inner.js-fix
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner.js-fix
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: 高さ中央
category: 2 column contents/vertical align middle
---
```jade
.c-twoColContent.-right.-vMiddle.js-heightFix(data-column-pc="2" data-column-sp="2")
  .sub-content._x1of3
    .sub-inner.js-fix
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner.js-fix
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: 1個目の要素左 テキスト回り込み
category: 2 column contents/wraparound
---
```jade
.c-twoColContent.-left.-wraps
  .sub-content._x1of8
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x7of8
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: 1個目の要素右 テキスト回り込み
category: 2 column contents/wraparound
---
```jade
.c-twoColContent.-right.-wraps
  .sub-content._x1of8
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x7of8
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: PC画像左　スマホ縦積み画像上
category: 2 column contents/SP image top
---
```jade
.c-twoColContent.-left.-sp1col
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: PC画像右　スマホ縦積み画像上
category: 2 column contents/SP image top
---
```jade
.c-twoColContent.-right.-sp1col
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

/*
---
name: PC画像左　スマホ縦積み画像下
category: 2 column contents/SP image bottom
---
```jade
.c-twoColContent.-right.-sp1col
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
```
*/

/*
---
name: PC画像右　スマホ縦積み画像下
category: 2 column contents/SP image bottom
---
```jade
.c-twoColContent.-left.-sp1col
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
```
*/

/*
---
name: モジュール間を矢印でつなぐ
category: 2 column contents/arrow
---
```jade
.c-twoColContent.-left.-step
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | .c-twoColContent
        span.st-accent .-step
        | で矢印が付きます。
        br
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
.c-twoColContent.-left
  .sub-content._x1of3
    .sub-inner
      p.c-img
        img(src='http://placehold.jp/fff/500x350.png?text=dummy', alt='')
  .sub-content._x2of3
    .sub-inner
      p.c-para
        | ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
```
*/

$textAndImageBlockMargin: 20px;
.c-twoColContent {
  @include clearfix;
  .sub-content:first-child {
    > .sub-inner {
      margin: 0 $textAndImageBlockMargin/2;
    }
  }
  .sub-content:last-child {
    float: left;
    > .sub-inner {
      margin: 0 $textAndImageBlockMargin/2;
    }
  }
  &.-left {
    .sub-content:first-child {
      float: left;
      > .sub-inner {
        margin-left: 0;
      }
    }
    .sub-content:last-child > .sub-inner {
      margin-right: 0;
    }
  }
  &.-right {
    .sub-content:first-child {
      float: right;
      > .sub-inner {
        margin-right: 0;
      }
    }
    .sub-content:last-child > .sub-inner {
      margin-left: 0;
    }
  }
  &.-wraps {
    .sub-content:last-child {
      float: none;
      width: auto;
      > .sub-inner {
        margin: 0;
      }
    }
    &.-left {
      .sub-content:first-child {
        > .sub-inner {
          margin-right: $textAndImageBlockMargin;
        }
      }
    }
    &.-right {
      .sub-content:first-child {
        margin-left: $textAndImageBlockMargin/2;
        > .sub-inner {
          margin-left: $textAndImageBlockMargin/2;
        }
      }
    }
  }
  &.-step {
    padding-bottom: 40px;
    position: relative;
    &:before {
      content: "↓";
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      margin: auto;
      width: 1em;
    }
  }
  &.-vMiddle {
    .sub-content {
      > .sub-inner {
        padding: 0 $textAndImageBlockMargin/2;
        vertical-align: middle;
        display: table-cell;
      }
    }
    &.-left {
      .sub-content:first-child {
        float: left;
        > .sub-inner {
          padding-left: 0;
        }
      }
      .sub-content:last-child > .sub-inner {
        padding-right: 0;
      }
    }
    &.-right {
      .sub-content:first-child {
        float: right;
        > .sub-inner {
          padding-right: 0;
        }
      }
      .sub-content:last-child > .sub-inner {
        padding-left: 0;
      }
    }
  }
}

@include mq_l() {
  $textAndImageBlockMargin: 20px;
  .c-twoColContent {
    margin-bottom: $textAndImageBlockMargin;
    &:last-child {
      margin-bottom: 0;
    }
  }
} //@media pc
@include mq_s() {
  .c-twoColContent {
    @include clearfix;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    .sub-content {
      width: 50%;
    }
    .sub-content {
      width: 50%;
    }
    &.-sp1col {
      > .sub-content:first-child {
        width: 100%;
        margin-bottom: 10px;
        > .sub-inner {
          margin: 0 !important;
        }
      }
      > .sub-content:last-child {
        width: 100%;
        margin-bottom: 20px;
        > .sub-inner {
          margin: 0;
        }
      }
    }
  }
} //@media sp
