/*
---
name: マウスカーソル
category: -javascript
---
jsを読み込むと。マウスカーソルにドットが追従し、Aタグにhoverすると変形する。

*/
    #js-mouseCursor {
      $borderWidth:5px;
      $borderColor: gray;
      position:fixed;
      z-index:10000;
      width:1px;
      height:1px;
      border-radius:1000px;
      transform:translate(-$borderWidth,-$borderWidth);
      background:$borderColor;
      border:$borderWidth solid $borderColor;
      transition: all 0.1s ease-out, background 0.1s 0.1s ease-out;
      pointer-events: none;
    }
    #js-mouseCursor.-hover {
      background:transparent;
      border-radius:10px;
    }