/*
---
name: マウスカーソル
category: -javascript
---
jsを読み込むと。マウスカーソルにドットが追従し、Aタグにhoverすると変形する。

*/
    #js-mouseCursor {
      position:fixed;
      z-index:10000;
      width:1px;
      height:1px;
      border-radius:100%;
      transform:translate(-2.5px,-2.5px);
      background:red;
      border:5px solid red;
      transition: all 0.1s ease-out;
      pointer-events: none;
    }
    #js-mouseCursor.-hover {
      background:transparent;
      border-radius:10px;
    }