@use "setting/_value" as v;

/*
---
name: スクロールアクション
category: -javascript
---
スクロールインしたときに表示エフェクトを付けます。

```jade
div(data-sca) フェードイン
div(data-sca='bottom') 下からフェードイン
div(data-sca='right') 右からフェードイン
div(data-sca='left') 左からフェードイン
div._sca-active(data-sca) jsで._sca-activeを付与し表示アニメーション開始
```
*/
[data-sca] {
  opacity: 0;
  transition: all v.$scaTime ease;
  &._sca-active {
    opacity: 1;
  }
}
[data-sca="bottom"]._sca-active {
  animation: fromBottomFadeIn v.$scaTime ease forwards;
}
[data-sca="right"]._sca-active {
  animation: fromRightFadeIn v.$scaTime ease forwards;
}
[data-sca="left"]._sca-active {
  animation: fromLeftFadeIn v.$scaTime ease forwards;
}
[data-sca="barrage"]._sca-active span {
  display: inline-block;
  opacity: 0;
  font-size: 20px;
}
[data-sca="barrage"]._sca-active span.barrageStart {
  opacity: 1;
  animation: bounceInRight v.$scaTime;
}

/*
---
name: スクロールアクション+js
category: -javascript
---
スクロールインしたときに、innerTEXTを一文字ずつ表示

```jade
div(data-sca='barrage') スクロールインしたときに、innerTEXTを一文字ずつ表示
```
*/

@keyframes fromBottomFadeIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromRightFadeIn {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromLeftFadeIn {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
