
extends /common/_extends/_base.pug

block prepend vars
  - var title = '擬似3d';
  - var category = '';
  - var url = 'http://www.pokemon.co.jp/templatesite/scrollaction/'

block adds
  link(href="./css/css.css" rel="stylesheet" type="text/css")
  link(href="/templatesite/common/css/animate.css" rel="stylesheet" type="text/css")
  script(type="text/javascript" src="./js/function.js")

block contents
  .o-content
    p.c-para
      a(href="https://daneden.github.io/animate.css/" target="_blank") https://daneden.github.io/animate.css/
    div(style="margin-top:1000px")


    p.c-img._sca(data-js-scaction="bounce" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounce")
    p.c-img._sca(data-js-scaction="flash" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=flash")
    p.c-img._sca(data-js-scaction="pulse" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=pulse")
    p.c-img._sca(data-js-scaction="rubberBand" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rubberBand")
    p.c-img._sca(data-js-scaction="shake" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=shake")
    p.c-img._sca(data-js-scaction="swing" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=swing")
    p.c-img._sca(data-js-scaction="tada" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=tada")
    p.c-img._sca(data-js-scaction="wobble" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=wobble")
    p.c-img._sca(data-js-scaction="jello" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=jello")
    p.c-img._sca(data-js-scaction="bounceIn" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceIn")
    p.c-img._sca(data-js-scaction="bounceInDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceInDown")
    p.c-img._sca(data-js-scaction="bounceInLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceInLeft")
    p.c-img._sca(data-js-scaction="bounceInRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceInRight")
    p.c-img._sca(data-js-scaction="bounceInUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceInUp")
    p.c-img._sca(data-js-scaction="bounceOut" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceOut")
    p.c-img._sca(data-js-scaction="bounceOutDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceOutDown")
    p.c-img._sca(data-js-scaction="bounceOutLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceOutLeft")
    p.c-img._sca(data-js-scaction="bounceOutRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceOutRight")
    p.c-img._sca(data-js-scaction="bounceOutUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=bounceOutUp")
    p.c-img._sca(data-js-scaction="fadeIn" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeIn")
    p.c-img._sca(data-js-scaction="fadeInDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInDown")
    p.c-img._sca(data-js-scaction="fadeInDownBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInDownBig")
    p.c-img._sca(data-js-scaction="fadeInLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInLeft")
    p.c-img._sca(data-js-scaction="fadeInLeftBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInLeftBig")
    p.c-img._sca(data-js-scaction="fadeInRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInRight")
    p.c-img._sca(data-js-scaction="fadeInRightBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInRightBig")
    p.c-img._sca(data-js-scaction="fadeInUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInUp")
    p.c-img._sca(data-js-scaction="fadeInUpBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeInUpBig")
    p.c-img._sca(data-js-scaction="fadeOut" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOut")
    p.c-img._sca(data-js-scaction="fadeOutDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutDown")
    p.c-img._sca(data-js-scaction="fadeOutDownBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutDownBig")
    p.c-img._sca(data-js-scaction="fadeOutLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutLeft")
    p.c-img._sca(data-js-scaction="fadeOutLeftBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutLeftBig")
    p.c-img._sca(data-js-scaction="fadeOutRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutRight")
    p.c-img._sca(data-js-scaction="fadeOutRightBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutRightBig")
    p.c-img._sca(data-js-scaction="fadeOutUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutUp")
    p.c-img._sca(data-js-scaction="fadeOutUpBig" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=fadeOutUpBig")
    p.c-img._sca(data-js-scaction="flip" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=flip")
    p.c-img._sca(data-js-scaction="flipInX" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=flipInX")
    p.c-img._sca(data-js-scaction="flipInY" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=flipInY")
    p.c-img._sca(data-js-scaction="flipOutX" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=flipOutX")
    p.c-img._sca(data-js-scaction="flipOutY" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=flipOutY")
    p.c-img._sca(data-js-scaction="lightSpeedIn" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=lightSpeedIn")
    p.c-img._sca(data-js-scaction="lightSpeedOut" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=lightSpeedOut")
    p.c-img._sca(data-js-scaction="rotateIn" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateIn")
    p.c-img._sca(data-js-scaction="rotateInDownLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateInDownLeft")
    p.c-img._sca(data-js-scaction="rotateInDownRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateInDownRight")
    p.c-img._sca(data-js-scaction="rotateInUpLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateInUpLeft")
    p.c-img._sca(data-js-scaction="rotateInUpRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateInUpRight")
    p.c-img._sca(data-js-scaction="rotateOut" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateOut")
    p.c-img._sca(data-js-scaction="rotateOutDownLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateOutDownLeft")
    p.c-img._sca(data-js-scaction="rotateOutDownRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateOutDownRight")
    p.c-img._sca(data-js-scaction="rotateOutUpLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateOutUpLeft")
    p.c-img._sca(data-js-scaction="rotateOutUpRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rotateOutUpRight")
    p.c-img._sca(data-js-scaction="slideInUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideInUp")
    p.c-img._sca(data-js-scaction="slideInDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideInDown")
    p.c-img._sca(data-js-scaction="slideInLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideInLeft")
    p.c-img._sca(data-js-scaction="slideInRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideInRight")
    p.c-img._sca(data-js-scaction="slideOutUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideOutUp")
    p.c-img._sca(data-js-scaction="slideOutDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideOutDown")
    p.c-img._sca(data-js-scaction="slideOutLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideOutLeft")
    p.c-img._sca(data-js-scaction="slideOutRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=slideOutRight")
    p.c-img._sca(data-js-scaction="zoomIn" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomIn")
    p.c-img._sca(data-js-scaction="zoomInDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomInDown")
    p.c-img._sca(data-js-scaction="zoomInLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomInLeft")
    p.c-img._sca(data-js-scaction="zoomInRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomInRight")
    p.c-img._sca(data-js-scaction="zoomInUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomInUp")
    p.c-img._sca(data-js-scaction="zoomOut" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomOut")
    p.c-img._sca(data-js-scaction="zoomOutDown" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomOutDown")
    p.c-img._sca(data-js-scaction="zoomOutLeft" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomOutLeft")
    p.c-img._sca(data-js-scaction="zoomOutRight" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomOutRight")
    p.c-img._sca(data-js-scaction="zoomOutUp" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=zoomOutUp")
    p.c-img._sca(data-js-scaction="hinge" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=hinge")
    p.c-img._sca(data-js-scaction="jackInTheBox" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=jackInTheBox")
    p.c-img._sca(data-js-scaction="rollIn" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rollIn")
    p.c-img._sca(data-js-scaction="rollOut" style="margin-bottom:100px")
      img(src="http://placehold.jp/fff/800x400.png?text=rollOut")


    div(style="margin-top:1000px")