@charset "utf-8";

// settiong
@import "setting/*";

// foundation
@import "foundation/*";

// layout
@import "layout/*";

//module
@import "module/*";

//project
@import "project/*";


.svg1 {
  width:150px;
  height:80px;
  fill:#ff0000;
  transition: all .5s;
  &:hover {
    fill:#0000ff;
  }
}

