@charset "utf-8";
// -----------------------------------------------------------
// rscssからbemに変更
// modifierのみマルチクラスで追加するrscss風味
// modifierクラスは.-HOGEとハイフン２個とする
// また、これまで通りユーティリティクラスは._HOGEとアンスコ１個で継続
// 直し忘れがあれば修正していく
// -----------------------------------------------------------

// settiong
@import "setting/*";

// foundation
@import "foundation/*";

// layout
@import "layout/*";

// jsがらみ
@import "jsStyle/*";

//module
@import "module/*";

//project
@import "project/*";
@import "animate";

.svg1 {
  width: 150px;
  height: 80px;
  fill: #ff0000;
  transition: all 0.5s;
  &:hover {
    fill: #0000ff;
  }
}
