@charset "utf-8";
// -----------------------------------------------------------
// rscssからbemに変更
// modifierのみマルチクラスで追加するrscss風味
// modifierクラスは.--HOGEとハイフン２個とする
// また、これまで通りユーティリティクラスは._HOGEとアンスコ１個で継続
// 直し忘れがあれば修正していく
// -----------------------------------------------------------



// settiong
@use "setting/_fonts";
@use "setting/_reset";
@use "setting/_value";

// foundation
@use "foundation/_icon";
@use "foundation/_keyframe";
@use "foundation/_mixin";
@use "foundation/_utility";

// layout
@use "layout/_header";
@use "layout/_footer";
@use "layout/_layout";

// jsがらみ
@use "jsStyle/_loading";
@use "jsStyle/_mouseCursol";
@use "jsStyle/_scrollaction";

//module
@use "module/_column";
@use "module/_group";
@use "module/_list";
@use "module/_section";
@use "module/_dl";
@use "module/_heading";
@use "module/_modalBase";
@use "module/_sns";
@use "module/_faq";
@use "module/_image";
@use "module/_movie";
@use "module/_table";
@use "module/_floatContent";
@use "module/_link";
@use "module/_pager";
@use "module/_text";





//project
@use "project/_project";
@use "animate";

.svg1 {
  width: 150px;
  height: 80px;
  fill: #ff0000;
  transition: all 0.5s;
  &:hover {
    fill: #0000ff;
  }
}
