.c-footerLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  .c-footerLinks__item {
    margin: vw(10);
    @include mq() {
      margin: size(10);
    }
  }
}

.c-copyright {
  @include font(10, 10, 12, 12);
  text-align: center;
  @include size(
    (
      "padding-top": 10,
      "padding-right": 11,
      "padding-bottom": 12,
      "padding-left": 13,
    )
  );
}

.c-scrollTop {
  position: fixed;
  right: vw(10);
  bottom: vw(10);
  @include mq() {
    position: fixed;
    right: size(10);
    bottom: size(10);
  }
  &._cTvisible {
    animation: _visible $time ease forwards;
  }
  &._cTinvisible {
    animation: _invisible $time ease forwards;
  }
}
