
// ----------------------------------------------
// layout
// ----------------------------------------------


html {
  font:62.5%/2 $fontfamily;
  color:$colorDef ;
  -webkit-text-size-adjust:100%;
}
body {
  font-size:vw($baseSp);
  @include mq_l() {
    font-weight: 300;
    font-size: $basePc+px;
    line-height:2.625;
  }
}





body {
  background:$footerBg;
}

.l-container {
  overflow:hidden;
  background:$baseBg;
  >.l-header {
  }//.l-header
  >.l-main {
  }//.l-main
  >.l-footer {
    background:$footerBg;
  }//.l-footer
}//.l-container
