
.c-nav
  .sub-inner
    ul.sub-navlist
      li.sub-navitem
        .sub-iteminner
          .sub-item: span サンプル
          .c-nav
            .sub-inner
              ul.sub-navlist
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="/templatesite/pseudo3d/"): span 3dぽいの
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="/templatesite/scrollaction/"): span スクロールアクション
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="/templatesite/youtubeIframeApi/"): span youtubeapi
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="/templatesite/wave/"): span 波
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="/templatesite/roll/"): span 擬似回転
      li.sub-navitem
        .sub-iteminner
          a.sub-item(href="#"): span ナビ
          .c-nav
            .sub-inner
              ul.sub-navlist
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="#"): span ナビ
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="#"): span ナビ
                li.sub-navitem
                  .sub-iteminner
                    a.sub-item(href="#"): span ナビ