// 色
$colorDef       : #000000; // 通常テキスト
$colorStrong    : #AA0000; // 重要
$colorAccent    : #BF62EB; // アクセント
$colorAttention : #AA0000; // 注意
$colorLink      : #5555FF; // リンクカラー


// BGカラー
$baseBg   : #fff; //bg
$footerBg : #999; //bg


// フォントサイズ
$basePc:16;
$baseSp:13;


//フォントファミリー
$fontfamily:"メイリオ", "Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif;

// pcのコンテンツ幅
$contentWidth:960px;

// spデザインのwidth
$spWidth:750;

// 切り替え時間
$time:0.3s;
$hoverTime:0.1s;

//z-index;
$zindex-header:1;
$zindex-main:1;
$zindex-footer:1;
$zindex-nav:5;
$zindex-modal:10;




/*
---
name: 定数
category: value
tag: setting
---
 */