$gutterLeftSP:10;
$gutterTopSP:20;
$gutterLeftPC:20;
$gutterTopPC:30;

/*
---
name: デフォルト
category:
  - column/default
---
```jade
.c-column.-sp1col._x1of1_pc
  .sub-inner
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
```
*/
.c-column {
  margin:0 auto;
  >.sub-inner {
    display:flex;
    flex-wrap: wrap;
    margin-top :vw(-$gutterTopSP);
    margin-left:vw(-$gutterLeftSP);
    &.-row-reverse {
      flex-direction:row-reverse;//右から左
    }
    >.sub-item {
      box-sizing: border-box;
      padding-top :vw($gutterTopSP);
      padding-left:vw($gutterLeftSP);
    }
  }
  &.-sp1col {
    >.sub-inner>.sub-item {
      @include mq_s() {
        width:100% !important;
      }
    }
  }
}
@include mq_l() {
  .c-column {
    >.sub-inner {
      margin-top :-$gutterTopPC*1px;
      margin-left:-$gutterLeftPC*1px;
      >.sub-item {
        padding-top :$gutterTopPC*1px;
        padding-left:$gutterLeftPC*1px;
      }
    }
  }
}
@include mq_m() {
  .c-column {
    >.sub-inner {
      margin-top :vw(-$gutterTopPC,1024);
      margin-left:vw(-$gutterLeftPC,1024);
      >.sub-item {
        padding-top :vw($gutterTopPC,1024);
        padding-left:vw($gutterLeftPC,1024);
      }
    }
  }
}





/*
---
name: ステップ
category:
  - column/step
---
```jade
.c-column.-step.-sp1col._x1of1_pc
  .sub-inner
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        .sub-arrow
          img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        .sub-arrow
          img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        .sub-arrow
          img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        .sub-arrow
          img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
```
*/
.c-column.-step {
  >.sub-inner {
    margin-top :vw(-$gutterTopSP*2);
    margin-left:vw(-$gutterLeftSP*2);
    >.sub-item {
      padding-top :vw($gutterTopSP*2);
      padding-left:vw($gutterLeftSP*2);
      .sub-arrow {
        position:relative;
        &::before {
          content:"↓";
          display:inline-block;
          width:vw(16);
          height:vw(16);
          text-align:center;
          position:absolute;
          left:50%;
          top:vw(-24);
          transform: translate(-50%);
        }
      }
    }
  }
}

@include mq_l() {
  .c-column.-step {
    >.sub-inner {
      margin-top :-$gutterTopPC*2px;
      margin-left:-$gutterLeftPC*2px;
      >.sub-item {
        padding-top :$gutterTopPC*2px;
        padding-left:$gutterLeftPC*2px;
        .sub-arrow {
          position:relative;
          &::before {
            content:"→";
            display:inline-block;
            width:16px;
            height:16px;
            text-align:center;
            position:absolute;
            left:-$gutterLeftPC*1px;
            top:50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }
}

@include mq_m() {
  .c-column.-step {
    >.sub-inner {
      margin-top :vw(-$gutterTopPC*2,1024);
      margin-left:vw(-$gutterLeftPC*2,1024);
      >.sub-item {
        padding-top :vw($gutterTopPC*2,1024);
        padding-left:vw($gutterLeftPC*2,1024);
        .sub-arrow {
          position:relative;
          &::before {
            content:"→";
            display:inline-block;
            width:vw(16,1024);
            height:vw(16,1024);
            text-align:center;
            position:absolute;
            left:vw(-$gutterLeftPC);
            top:50%;
            font-size:vw(16,1024);
            transform: translate(0,-50%);
          }
        }
      }
    }
  }
}


/*
---
name: カラムを貫通した キャプション
category:
  - column/penetration
---
カラムを貫通した キャプションを実装する場合はc-columnを入れ子にします。
```jade
.c-column.-sp1col._x1of1_pc
  .sub-inner
    .sub-item._x2of3
      figure.c-img
        .c-column
          .sub-inner
            .sub-item._x1of2
              figure.c-img
                img(src='http://placehold.jp/fff/500x350.png', alt='')
            .sub-item._x1of2
              figure.c-img
                img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption カラムを貫通した キャプションキャプションキャプションキャプション
    .sub-item._x1of3
      figure.c-img
        img(src='http://placehold.jp/fff/500x350.png', alt='')
        figcaption.sub-caption キャプションキャプションキャプションキャプション
```
*/