//-------------------------------------------------------
// c-faq
//-------------------------------------------------------

/*
---
name: faq
category:
  - faq
---
QをクリックでAを開閉。
```jade
dl.c-faq
  dt.sub-q
    div.sub-inner
      p.c-para しつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもんしつもん
  dd.sub-a
    div.sub-inner
      p.c-para かいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとうかいとう
```
*/
.c-faq {
  padding-bottom:15px;
  margin-top:15px;
  border-bottom:1px dotted #999;
  .sub-q {
    @include clearfix;
    &:before {
      content:"Q:";
      display:inline-block; width:2em; height:1em;
      float:left;
      margin-right:10px;
    }
    .sub-inner {
      overflow:hidden;
    }
    &:hover {
      cursor:pointer;
    }
  }
  .sub-a {
    @include clearfix;
    display:none;
    margin-top:15px;
    &:before {
      content:"A:";
      display:inline-block; width:2em; height:1em;
      float:left;
      margin-right:10px;
    }
    .sub-inner {
      overflow:hidden;
    }
  }
  .c-para:last-child {
    margin-bottom:0;
  }
  &:first-child {
    border-top: 1px dotted #999;
    padding: 15px 0;
  }
}

@include mq_l() {

}//@media pc
@include mq_s() {

}//@media sp