
// リンク
// --------------------------------------

.blankicon {
  font-family: 'icon';
  content:"\F006";
  font-size:smaller;
  font-weight:normal;
  margin-left:5px;
  vertical-align:middle;
  display:inline-block;
}




a {
  text-decoration:underline;
  color:$colorLink;
}
a:visited {    }
a:hover {
    text-decoration:none;
    cursor:pointer;
}
a[href=""]{
  pointer-events: none;
  opacity:0.6;
  &[target="_blank"]:after {
    display: none;
  }
}



/*
---
name: href未設定
category: link
---
href未設定の場合、半透明にしクリックイベントを無くし、blankであってもアイコンを付けない。
```jade
p.c-para
  a(href="#" target="_blank") hrefあり
p.c-para
  a(href="" target="_blank") hrefなし
```
*/


/*
---
name: 別窓付きリンク
category: link
---
```jade
p.c-para 別窓アイコン付き
  a(href="//www.google.com" target="_blank") テキストリンク
  |　target="_blank"で勝手につく
```
*/


/*
---
name: 別窓付きリンク
category: link
---
```jade
p.c-para 別窓アイコンなし
  a._noicon(href="//www.google.com" target="_blank") テキストリンク
  |　target="_blank"でも別窓アイコンなし。バナーなどで使用。
```
*/
a[target="_blank"] {
  &:after {
    @extend .blankicon;
  }
  &._noicon {
    &[target="_blank"]:after { display:none; }  //別窓アイコン無し
  }
}




//---------------------------------------------------
// ボタン 
//---------------------------------------------------

/*
---
name: ボタン
category: link/button
---
```jade
.c-button
  a.sub-a(href="#") ボタン

.c-button
  .sub-text ボタンタイトル
  a.sub-a(href="#") ボタン
```
*/
.c-button {
  margin-top:vw(20);
  text-align:center;
  .sub-text {
    @include bold();
    & + a.sub-a {
      margin-top:vw(10);
    }
  }
  a.sub-a {
    display:block;
    background:gray;
    padding:vw(10) vw(30);
    text-align:center;
    font-size:vw(16);
    color:white;
    text-decoration: none;
    box-shadow: 0 vw(5) 0 0 rgba(0,0,0,0.2);
    transition: all $hoverTime ease;
    &:hover {
      @include mq_l() {
        transform: translateY(vw(5));
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
      }
    }
  }
}
@include mq_l() {
  .c-button {
    margin-top:20px;
    .sub-text {
      @include bold();
      & + a.sub-a {
        margin-top:10px;
      }
    }
    a.sub-a {
      display:inline-block;
      padding:10px 30px;
      @include fontsize(16);
      box-shadow: 0 5px 0 0 rgba(0,0,0,0.2);
      &:hover {
        transform: translateY(5px);
      }
    }
  }
}



/*
---
name: href未設定
category: link/button
---
href未設定の場合、半透明にしクリックイベントを無くし、blankであってもアイコンを付けない。ボタンも同様。
```jade

.c-button
  .sub-text hrefあり
  a.sub-a(href="#" target="_blank") ボタン

.c-button
  .sub-text hrefなし
  a.sub-a(href="" target="_blank") ボタン
```
*/