
extends /common/_extends/_base.pug

block prepend vars
  - var title = '波';
  - var category = '';
  - var url = 'http://www.pokemon.co.jp/templatesite/wave/'

block adds
  link(href="./css/css.css" rel="stylesheet" type="text/css")
  script(type="text/javascript" src="./js/function.js")

block contents
  .o-content
    div(style="margin:0 -10px")
      canvas#sineCanvas(width="800" height="100")