//---------------------------------------------------
// project固有のモジュール
// .p-xxx
//---------------------------------------------------

/*
---
name: project固有のモジュール
category:
  - project/project
---

```jade
.p-hogehoge hogehoge
```
*/
.p-hogehoge {
  font-size: vw(30);
  @include mq(){
    font-size:size(40);
  }

}
