
// ▼ og
meta(property="og:title" content=pagetitle)
meta(property="og:url" content!=url)
meta(property="og:type" content="game")
meta(property="og:image" content="http://aaaaaaa.com/templatesite/common/images/fb.jpg")
meta(property="og:description" content="ディスクリプション　ディスクリプション　ディスクリプション　ディスクリプション　ディスクリプション")
meta(property="fb:app_id" content="xxxxxxxxxx")
meta(property="og:site_name" content="sitename")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@sitename")
meta(name="twitter:image" content="http://aaaaaaa.com/templatesite/common/images/tw.jpg")