
extends /common/_extends/_base.pug

block prepend vars
  - var title = 'XXタイトルXX';
  - var category = 'top';
  - var url = 'http://www.pokemon.co.jp/templatesite/'

block adds

block contents
  .l-section
    section.p-section
      br
      br
      br
      br
      br
      ul.c-list.-link
        li.sub-li: .sub-div: a(href="styleguide/") スタイルガイド
      //-ul.c-list
      br
      br
      br
      br
      br