
include pug/_mixin
<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="css/style.css")
    script(src="/ex/hoge/js/main.js")

  body
    svg.svg1
      use(xlink:href="/ex/hoge/images/src.svg#svg")
    svg.svg1
      use(xlink:href="/ex/hoge/images/src.svg#svg1")
    p.c-icon.-blankWindow あああ

    +rImg('/ex/hoge/images/icon/fb.png','あああああ')
    
    <?php include ($_SERVER["DOCUMENT_ROOT"]."/ex/hoge/inc.html"); ?>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js")
    script.
      svg4everybody();