extends /assets/pug/_base.pug

block prepend vars
  - var title = 'XXタイトルXX';
  - var category = 'top';
  - var url = 'https://pokemon.co.jp/ex/hoge/';
  - var keyword = 'TOP,keyword'; //共通であれば削除
  - var description = 'TOPディスクリプション'; //共通であれば削除
  - var og_fb = 'https://www.pokemon.co.jp/ex/hoge/assets/img/fb_top.jpg'; //共通であれば削除
  - var og_tw = 'https://www.pokemon.co.jp/ex/hoge/assets/img/tw_top.jpg'; //共通であれば削除

block addResource
  script(src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js")
  script.
    svg4everybody();

block contents
  .c-section
    .c-section-inner
      svg.svg1
        use(xlink:href="/ex/hoge/assets/img/src.svg#svg")
      .js-loadingArea
        img(src="https://dummyimage.com/100x100" data-sca="bottomIn")
        img(src="https://dummyimage.com/100x100" data-sca="rightIn")
        img(src="https://dummyimage.com/100x100" data-sca="leftIn")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="bottom")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100" data-sca="right")
        img(src="https://dummyimage.com/100x100" data-sca="left")
        img(src="https://dummyimage.com/100x100")
        img(src="https://dummyimage.com/100x100")
        img(src="https://dummyimage.com/100x100")
        img(src="https://dummyimage.com/100x100")
      p: label(data-href="https://www.youtube.com/embed/7Vj8zt_tBtk" class="js-movie" for="toggleModal") モーダル動画
      img(src="https://dummyimage.com/100x100")
      img(src="https://dummyimage.com/100x100")
      img(src="https://dummyimage.com/100x100")
      img(src="https://dummyimage.com/100x100")
      img(src="https://dummyimage.com/100x100")
      p: a(href="underlayer/") 下層ページ

      +rImg('/ex/hoge/assets/img/icon/fb.png','あああああ')


block sns
  include /assets/pug/_sns.pug