
extends /common/_extends/_base.pug

block prepend vars
  - var title = '擬似3d';
  - var category = '';
  - var url = 'http://www.pokemon.co.jp/templatesite/pseudo3d/'

block adds
  link(href="./css/css.css" rel="stylesheet" type="text/css")

block contents
  .o-content
    .c-pseudo3d
      img(src="./images/man.gif")
      .sub-inner