
// ----------------------------------------------
// layout
// ----------------------------------------------

//62.5% = 10px; 1.4em = 14px
html {
  font:62.5%/2 $fontfamily;
  color:$colorDef ;
  -webkit-text-size-adjust:100%;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,500,700,900&amp;subset=japanese);
body {
  font-size:vw($baseSp);
  @include mq_l() {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    @include fontsize($basePc); 
    line-height:2.625;
  }//@media pc
}





body {
  background:$footerBg;
}

.l-container {
  overflow:hidden;
  background:$baseBg;
  >.l-header {
  }//.l-header
  >.l-main {
  }//.l-main
  >.l-footer {
    background:$footerBg;
  }//.l-footer
}//.l-container
